* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f7f6f9;
    color: #111;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 40px;
}


nav {
    display: flex;
    gap: 30px;
}


nav a {
    color: #111;
    text-decoration: none;
    font-size: 12px;
}


.actions {
    display: flex;
    gap: 20px;
}


.actions button {
    background: none;
    border: none;
    font-size: 12px;
    cursor: pointer;
}

.hero {
    position: relative;
    min-height: calc(100vh - 90px);
    overflow: hidden;

    background-color: #6b6870;
    background-image:
        linear-gradient(to right, #ddd 1px, transparent 1px),
        linear-gradient(to bottom, #ddd 1px, transparent 1px);
    background-size: 20% 25%;
}

.hero-model {
    position: absolute;

    width: 500px;

    left: 50%;
    bottom: 0;

    transform: translateX(-50%);
}

.hero-title {
    position: absolute;

    z-index: 2;

    bottom: 50px;

    left: 50%;

    transform: translateX(-50%);

    font-size: 120px;
    font-weight: 400;
    white-space: nowrap;
}

.hero-text {
    position: absolute;

    left: 40px;
    top: 120px;

    width: 260px;

    z-index: 3;
}

.hero-text p {
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
}

.shop-btn {
    margin-top: 30px;

    padding: 12px 20px;

    background: transparent;
    border: 1px solid #111;

    font-size: 11px;

    cursor: pointer;
}

.hero-description {
    position: absolute;

    right: 40px;
    top: 120px;

    width: 180px;

    z-index: 3;
}

.hero-description p {
    font-size: 11px;
    line-height: 1.5;
    text-transform: uppercase;
}

.hero-description p + p {
    margin-top: 30px;
}